# Домашнее задание к лекции "Библиотека Pandas"

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [5]:
#engine='python' pandas.errors.ParserWarning/ Warning raised when reading a file that doesn’t use the default ‘c’ parser.
#header=0 denotes the first line of data rather than the first line of the file
rating_data = pd.read_csv('ratings.dat', engine='python', header=0, names=['UserID', 'MovieID', 'Rating', 'Timestamp'], sep = '::')
movie_name_data = pd.read_csv('movies.dat', engine='python', header=0, names=['MovieID', 'Title', 'Genre'], sep = '::')

movie_data = rating_data.merge(movie_name_data, on='MovieID', how='left')

movie_data.head()

,UserID,MovieID,Rating,Timestamp,Title,Genre
0,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
1,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
2,1,3408,4,978300275,Erin Brockovich (2000),Drama
3,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
4,1,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance

In [9]:
a = movie_data[movie_data.Rating==5].Title.value_counts().head(1)
print(f'Больше всего оценок 5.0 получил фильм {a}')

Больше всего оценок 5.0 получил фильм American Beauty (1999)    1963
Name: Title, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
df = pd.read_csv('power.csv')
#data.head()
Baltic_country = ['Latvia', 'Lithuania', 'Estonia']
category = [4, 12, 21]
#df.describe()
df[df.country.isin(Baltic_country) \
   & df.category.isin(category) \
   & (df.quantity > 0) ].quantity.sum()

970728.0

## Задание 3


Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [18]:
df = pd.read_html('https://fortrader.org/quotes')
#df

In [19]:
df[:2]

[                           Название     Цена  Изменение  Изменение(%)  \
 0  EURRUB Курс евро к рублю сегодня  80.0977     0.5047        0.6341
 1       USDRUB Курс рубля к доллару  73.4195    -0.1717       -0.2333

    Обновлено
 0        NaN
 1        NaN  ,
                            Название    Цена   Изменение Изменение(%)  \
 0  Нефть (BRENT) Курс нефти сегодня  33.760       +0.28        +0.84
 1   Нефть (WTI) Цены на нефть (WTI)  31.000       +0.59        +1.94
 2          Сахар котировки на сахар  12.630  нет данных   нет данных
 3                   Газ Цена на газ   1.717      +0.003       +0.175

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN  ]